@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/space-grotesk";
@import "@fontsource-variable/inter";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.148 0.004 228.8);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.148 0.004 228.8);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.148 0.004 228.8);
  --primary: oklch(0.62 0.2 295);
  --primary-foreground: oklch(0.98 0.01 295);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.963 0.002 197.1);
  --muted-foreground: oklch(0.56 0.021 213.5);
  --accent: oklch(0.963 0.002 197.1);
  --accent-foreground: oklch(0.218 0.008 223.9);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.925 0.005 214.3);
  --input: oklch(0.925 0.005 214.3);
  --ring: oklch(0.723 0.014 214.4);
  --chart-1: oklch(0.872 0.007 219.6);
  --chart-2: oklch(0.56 0.021 213.5);
  --chart-3: oklch(0.45 0.017 213.2);
  --chart-4: oklch(0.378 0.015 216);
  --chart-5: oklch(0.275 0.011 216.9);
  --sidebar: oklch(0.987 0.002 197.1);
  --sidebar-foreground: oklch(0.148 0.004 228.8);
  --sidebar-primary: oklch(0.6 0.118 184.704);
  --sidebar-primary-foreground: oklch(0.984 0.014 180.72);
  --sidebar-accent: oklch(0.963 0.002 197.1);
  --sidebar-accent-foreground: oklch(0.218 0.008 223.9);
  --sidebar-border: oklch(0.925 0.005 214.3);
  --sidebar-ring: oklch(0.723 0.014 214.4);
  /* --radius: 0.625rem; */
  --radius: 0.37rem;
}

.dark {
  --background: oklch(0.13 0.01 240);
  --foreground: oklch(0.987 0.002 197.1);
  --card: oklch(0.2 0.015 240);
  --card-foreground: oklch(0.987 0.002 197.1);
  --popover: oklch(0.22 0.015 240);
  --popover-foreground: oklch(0.987 0.002 197.1);
  --primary: oklch(0.62 0.2 295);
  --primary-foreground: oklch(0.98 0.01 295);
  --secondary: oklch(0.26 0.01 240);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.275 0.011 216.9);
  --muted-foreground: oklch(0.723 0.014 214.4);
  --accent: oklch(0.3 0.02 240);
  --accent-foreground: oklch(0.987 0.002 197.1);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.56 0.021 213.5);
  --chart-1: oklch(0.872 0.007 219.6);
  --chart-2: oklch(0.56 0.021 213.5);
  --chart-3: oklch(0.45 0.017 213.2);
  --chart-4: oklch(0.378 0.015 216);
  --chart-5: oklch(0.275 0.011 216.9);
  --sidebar: oklch(0.16 0.02 240);
  --sidebar-foreground: oklch(0.987 0.002 197.1);
  --sidebar-primary: oklch(0.704 0.14 182.503);
  --sidebar-primary-foreground: oklch(0.277 0.046 192.524);
  --sidebar-accent: oklch(0.275 0.011 216.9);
  --sidebar-accent-foreground: oklch(0.987 0.002 197.1);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.56 0.021 213.5);
}

[data-theme="red"] {
  --background: oklch(1 0 0);
  --foreground: oklch(0.2674 0.009 248.1657);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2674 0.009 248.1657);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2674 0.009 248.1657);
  --primary: oklch(0.5778 0.2282 26.5713);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9691 0.0017 247.8397);
  --secondary-foreground: oklch(0.3182 0.0115 248.1899);
  --muted: oklch(0.9768 0.0013 247.8346);
  --muted-foreground: oklch(0.5052 0.0205 248.2336);
  --accent: oklch(0.9577 0.0187 12.8348);
  --accent-foreground: oklch(0.4101 0.1589 25.8706);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9222 0.0044 247.8716);
  --input: oklch(0.9222 0.0044 247.8716);
  --ring: oklch(0.5778 0.2282 26.5713);
  --chart-1: oklch(0.5778 0.2282 26.5713);
  --chart-2: oklch(0.3182 0.0115 248.1899);
  --chart-3: oklch(0.7176 0.1902 149.6);
  --chart-4: oklch(0.8562 0.1696 90.9651);
  --chart-5: oklch(0.7159 0.1804 49.4714);
  --sidebar: oklch(0.9846 0.0009 247.8294);
  --sidebar-foreground: oklch(0.3182 0.0115 248.1899);
  --sidebar-primary: oklch(0.5778 0.2282 26.5713);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9367 0.0283 13.062);
  --sidebar-accent-foreground: oklch(0.4101 0.1589 25.8706);
  --sidebar-border: oklch(0.9379 0.0035 247.8606);
  --sidebar-ring: oklch(0.5778 0.2282 26.5713);
  /* --radius: 0.625rem; */
  --radius: 0.37rem;
}

.dark[data-theme="red"] {
  --background: oklch(0.145 0.0028 247.4358);
  --foreground: oklch(0.9848 0 0);
  --card: oklch(0.1803 0.0047 248.0863);
  --card-foreground: oklch(0.9848 0 0);
  --popover: oklch(0.1803 0.0047 248.0863);
  --popover-foreground: oklch(0.9848 0 0);
  --primary: oklch(0.5778 0.2282 26.5713);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.2674 0.009 248.1657);
  --secondary-foreground: oklch(0.9848 0 0);
  --muted: oklch(0.2357 0.0075 248.1444);
  --muted-foreground: oklch(0.72 0.0165 248.0568);
  --accent: oklch(0.2566 0.0939 23.8695);
  --accent-foreground: oklch(0.7958 0.1022 15.2778);
  --destructive: oklch(0.3901 0.1297 25.5736);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.2777 0.0095 248.1714);
  --input: oklch(0.2777 0.0095 248.1714);
  --ring: oklch(0.5778 0.2282 26.5713);
  --chart-1: oklch(0.5778 0.2282 26.5713);
  --chart-2: oklch(0.8428 0.009 247.9335);
  --chart-3: oklch(0.7176 0.1902 149.6);
  --chart-4: oklch(0.8562 0.1696 90.9651);
  --chart-5: oklch(0.7159 0.1804 49.4714);
  --sidebar: oklch(0.1917 0.0052 248.1014);
  --sidebar-foreground: oklch(0.9222 0.0044 247.8716);
  --sidebar-primary: oklch(0.5778 0.2282 26.5713);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2566 0.0939 23.8695);
  --sidebar-accent-foreground: oklch(0.8446 0.0747 14.3349);
  --sidebar-border: oklch(0.2569 0.0085 248.1593);
  --sidebar-ring: oklch(0.5778 0.2282 26.5713);
}

[data-theme="green"] {
  --background: oklch(0.9605 0.0046 258.3248);
  --foreground: oklch(0.2153 0.0187 235.1251);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2153 0.0187 235.1251);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2153 0.0187 235.1251);
  --primary: oklch(0.4335 0.0754 182.2315);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9644 0.0208 166.1014);
  --secondary-foreground: oklch(0.4335 0.0754 182.2315);
  --muted: oklch(0.9605 0.0046 258.3248);
  --muted-foreground: oklch(0.5589 0.0255 233.7233);
  --accent: oklch(0.761 0.2015 149.7403);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6257 0.2058 29.0773);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9436 0.0051 228.8204);
  --input: oklch(0.9436 0.0051 228.8204);
  --ring: oklch(0.761 0.2015 149.7403);
  --chart-1: oklch(0.761 0.2015 149.7403);
  --chart-2: oklch(0.4335 0.0754 182.2315);
  --chart-3: oklch(0.5762 0.0995 182.3964);
  --chart-4: oklch(0.7356 0.137 232.8053);
  --chart-5: oklch(0.6509 0.1283 170.4258);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.2153 0.0187 235.1251);
  --sidebar-primary: oklch(0.4335 0.0754 182.2315);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9644 0.0208 166.1014);
  --sidebar-accent-foreground: oklch(0.4335 0.0754 182.2315);
  --sidebar-border: oklch(0.9436 0.0051 228.8204);
  --sidebar-ring: oklch(0.761 0.2015 149.7403);
  /* --radius: 0.625rem; */
  --radius: 0.37rem;
}

.dark[data-theme="green"] {
  --background: oklch(0.1854 0.0182 238.2143);
  --foreground: oklch(0.9436 0.0051 228.8204);
  --card: oklch(0.2848 0.023 235.6578);
  --card-foreground: oklch(0.9436 0.0051 228.8204);
  --popover: oklch(0.2848 0.023 235.6578);
  --popover-foreground: oklch(0.9436 0.0051 228.8204);
  --primary: oklch(0.6509 0.1283 170.4258);
  --primary-foreground: oklch(0.2153 0.0187 235.1251);
  --secondary: oklch(0.2933 0.0423 172.8195);
  --secondary-foreground: oklch(0.6509 0.1283 170.4258);
  --muted: oklch(0.2456 0.0195 239.1061);
  --muted-foreground: oklch(0.6637 0.0236 235.1968);
  --accent: oklch(0.761 0.2015 149.7403);
  --accent-foreground: oklch(0.2153 0.0187 235.1251);
  --destructive: oklch(0.6257 0.2058 29.0773);
  --destructive-foreground: oklch(0.9436 0.0051 228.8204);
  --border: oklch(0.3351 0.0253 234.8586);
  --input: oklch(0.3351 0.0253 234.8586);
  --ring: oklch(0.6509 0.1283 170.4258);
  --chart-1: oklch(0.761 0.2015 149.7403);
  --chart-2: oklch(0.6509 0.1283 170.4258);
  --chart-3: oklch(0.5762 0.0995 182.3964);
  --chart-4: oklch(0.7356 0.137 232.8053);
  --chart-5: oklch(0.4335 0.0754 182.2315);
  --sidebar: oklch(0.2153 0.0187 235.1251);
  --sidebar-foreground: oklch(0.9436 0.0051 228.8204);
  --sidebar-primary: oklch(0.6509 0.1283 170.4258);
  --sidebar-primary-foreground: oklch(0.2153 0.0187 235.1251);
  --sidebar-accent: oklch(0.2933 0.0423 172.8195);
  --sidebar-accent-foreground: oklch(0.6509 0.1283 170.4258);
  --sidebar-border: oklch(0.3351 0.0253 234.8586);
  --sidebar-ring: oklch(0.6509 0.1283 170.4258);
}

[data-theme="blue"] {
  --background: oklch(1 0 0);
  --foreground: oklch(0.3211 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3211 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3211 0 0);
  --primary: oklch(0.6225 0.2041 259.9027);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9665 0.0045 258.3247);
  --secondary-foreground: oklch(0.4419 0.0375 257.2811);
  --muted: oklch(0.9846 0.0017 247.8389);
  --muted-foreground: oklch(0.5471 0.0321 263.2921);
  --accent: oklch(0.951 0.0267 237.5723);
  --accent-foreground: oklch(0.3742 0.1844 263.942);
  --destructive: oklch(0.6496 0.2362 26.9032);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9271 0.0075 260.7315);
  --input: oklch(0.9271 0.0075 260.7315);
  --ring: oklch(0.6225 0.2041 259.9027);
  --chart-1: oklch(0.6225 0.2041 259.9027);
  --chart-2: oklch(0.5469 0.2507 262.8085);
  --chart-3: oklch(0.4902 0.2693 263.7106);
  --chart-4: oklch(0.4234 0.237 263.9162);
  --chart-5: oklch(0.3742 0.1844 263.942);
  --sidebar: oklch(0.9846 0.0017 247.8389);
  --sidebar-foreground: oklch(0.3211 0 0);
  --sidebar-primary: oklch(0.6225 0.2041 259.9027);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.951 0.0267 237.5723);
  --sidebar-accent-foreground: oklch(0.3742 0.1844 263.942);
  --sidebar-border: oklch(0.9271 0.0075 260.7315);
  --sidebar-ring: oklch(0.6225 0.2041 259.9027);
  /* --radius: 0.625rem; */
  --radius: 0.37rem;
}

.dark[data-theme="blue"] {
  --background: oklch(0.2046 0 0);
  --foreground: oklch(0.9219 0 0);
  --card: oklch(0.2686 0 0);
  --card-foreground: oklch(0.9219 0 0);
  --popover: oklch(0.2686 0 0);
  --popover-foreground: oklch(0.9219 0 0);
  --primary: oklch(0.6225 0.2041 259.9027);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.2686 0 0);
  --secondary-foreground: oklch(0.9219 0 0);
  --muted: oklch(0.2393 0 0);
  --muted-foreground: oklch(0.7155 0 0);
  --accent: oklch(0.5802 0.1915 259.7416);
  --accent-foreground: oklch(0.882 0.0588 253.9688);
  --destructive: oklch(0.6496 0.2362 26.9032);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3715 0 0);
  --input: oklch(0.3715 0 0);
  --ring: oklch(0.6225 0.2041 259.9027);
  --chart-1: oklch(0.7122 0.1526 254.9868);
  --chart-2: oklch(0.6225 0.2041 259.9027);
  --chart-3: oklch(0.5739 0.2334 262.7735);
  --chart-4: oklch(0.6225 0.2041 259.9027);
  --chart-5: oklch(0.6225 0.2041 259.9027);
  --sidebar: oklch(0.2046 0 0);
  --sidebar-foreground: oklch(0.9219 0 0);
  --sidebar-primary: oklch(0.6225 0.2041 259.9027);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.6225 0.2041 259.9027);
  --sidebar-accent-foreground: oklch(0.882 0.0588 253.9688);
  --sidebar-border: oklch(0.3715 0 0);
  --sidebar-ring: oklch(0.6225 0.2041 259.9027);
}

[data-theme="yellow"] {
  --background: oklch(1 0 0);
  --foreground: oklch(0.2178 0 0);
  --card: oklch(0.9938 0.0013 106.4231);
  --card-foreground: oklch(0.2393 0 0);
  --popover: oklch(0.9938 0.0013 106.4231);
  --popover-foreground: oklch(0.2393 0 0);
  --primary: oklch(0.8223 0.1648 86.7192);
  --primary-foreground: oklch(0.3407 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.2686 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.464 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.5348 0.1072 86.8308);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.922 0 0);
  --input: oklch(0.8852 0.0126 91.5295);
  --ring: oklch(0.8223 0.1648 86.7192);
  --chart-1: oklch(0.81 0.1 252);
  --chart-2: oklch(0.7204 0.1473 60.6715);
  --chart-3: oklch(0.6323 0.1623 252.0967);
  --chart-4: oklch(0.617 0.1909 24.6833);
  --chart-5: oklch(0.6759 0.1634 150.2272);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.2178 0 0);
  --sidebar-primary: oklch(0.8223 0.1648 86.7192);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.9229 0.0505 90.9613);
  --sidebar-accent-foreground: oklch(0.5863 0.118 86.1524);
  --sidebar-border: oklch(0.8723 0.0153 94.2191);
  --sidebar-ring: oklch(0.8223 0.1648 86.7192);
  --radius: 0.37rem;
}

.dark[data-theme="yellow"] {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.9401 0 0);
  --card: oklch(0.1913 0 0);
  --card-foreground: oklch(0.9401 0 0);
  --popover: oklch(0.2178 0 0);
  --popover-foreground: oklch(0.9401 0 0);
  --primary: oklch(0.8223 0.1648 86.7192);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.9401 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.683 0 0);
  --accent: oklch(0.9508 0.0657 91.1875);
  --accent-foreground: oklch(0.1913 0 0);
  --destructive: oklch(0.6453 0.2404 27.3106);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.2478 0 0);
  --input: oklch(0.3407 0 0);
  --ring: oklch(0.8223 0.1648 86.7192);
  --chart-1: oklch(0.8223 0.1648 86.7192);
  --chart-2: oklch(0.7204 0.1473 60.6715);
  --chart-3: oklch(0.6693 0.1427 250.8035);
  --chart-4: oklch(0.6762 0.3056 327.4089);
  --chart-5: oklch(0.6759 0.1634 150.2272);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.9401 0 0);
  --sidebar-primary: oklch(0.8223 0.1648 86.7192);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.3019 0.0263 91.8088);
  --sidebar-accent-foreground: oklch(0.8223 0.1648 86.7192);
  --sidebar-border: oklch(0.3012 0 0);
  --sidebar-ring: oklch(0.8223 0.1648 86.7192);
}

@theme inline {
  --font-sans: "Inter Variable", sans-serif;
  --font-heading: "Space Grotesk Variable", sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  --animate-slide-up: slide-up 0.5s ease-out forwards;

  @keyframes slide-up {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  --animate-slide-down: slide-down 0.5s ease-in forwards;
  @keyframes slide-down {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(100%);
      opacity: 0;
    }
  }

  --animate-marquee: marquee 15s linear infinite;
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    @apply select-none cursor-default;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  html {
    @apply font-sans;
  }

  input,
  textarea {
    @apply select-text cursor-text;
  }

  img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }
}

@utility mask-fade-y {
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
}

@utility custom-scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background: var(--background);
    border-radius: var(--radius-3xl);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: var(--radius-4xl);
    opacity: 0.6;
  }
  &::-webkit-scrollbar-thumb:hover {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }
}
